<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <script th:src="@{js/projeto.js}"></script> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Atualizar</title>
</head>
<body>
    <header>
        <div class="header">
            <a th:href="@{/}"><img class="logo-fatec" th:src="@{/img/logo-fatec-branco.png}" alt="Logo Fatec"> </a>
                <ul class="links">
                    <li> <a th:href="@{/}"> Reservar </a></li>
                    <li><a th:href="@{/listagem}">Minhas Reservas</a></li>
                    <li><a th:href="@{/contato}">Contato</a></li>
                </ul>
        </div>
    </header>
    <h1>Sistema de Reserva</h1>

    <form th:action="@{'/atualizar/' + ${id}}" method="post" th:object="${reserva}" class="form">
        <!-- Número da Sala -->
        <label for="numero">Número da Sala:</label>
        <input type="text" id="numero" name="numero" th:field="*{numero}" readonly />

            <!-- Nome do Reservante -->
        <label for="nome">Seu Nome:</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" required />

        <!-- Data da Reserva -->
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" th:field="*{data}" required/>

        <!-- Hora da Reserva -->
        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" th:field="*{hora}" required />

        <!-- Duração -->
        <label for="duracao">Duração (horas):</label>
        <input type="number" id="duracao" name="duracao" th:field="*{duracao}" min="1" max="12" required />

        <input type="submit" value="Atualizar" name="atualizar" id="atualiza">
    
        <a th:href="@{/listagem}">Voltar</a>
    </form>
    
    

</body>
</html>