<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title> Contato </title>
</head>
<body>

    <header>
        <div class="header">
            <a th:href="@{/}"><img class="logo-fatec" th:src="@{img/logo-fatec-branco.png}" alt="Logo Fatec"> </a>
                <ul class="links">
                    <li> <a th:href="@{/}" th:classappend="${activePage == 'principal'} ? 'active' : ''"> Reservar </a></li>
                    <li><a th:href="@{/listagem}" th:classappend="${activePage == 'listagem'} ? 'active' : ''" >Minhas Reservas</a></li>
                    <li><a th:href="@{/contato}" th:classappend="${activePage == 'contato'} ? 'active' : ''" >Contato</a></li>
                </ul>
        </div>
    </header>
    <section class="contato">
        <div class="informacoes-contato">
            <h2>Informações de Contato Fatec Rubens Lara</h2>
            <p> Atendimento de Segunda-Feira à Sexta-Feira, das 9h às 22h.</p>
            <p><strong>Email:</strong> contato@fatecrubenslara.com.br</p>
            <p><strong>Telefone:</strong> (13) 3227-6003 </p>
            <p><strong>Endereço:</strong> Av. Senador Feijó, 350 - Vila Matias, Santos - SP, 11015-502</p>
        </div>
    </section>