<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/projeto.js}"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title> Salas Reservadas </title>
</head>
    <body>
        <header>
            <div class="header">
                <a th:href="@{/}"><img class="logo-fatec" th:src="@{img/logo-fatec-branco.png}" alt="Logo Fatec"> </a>
                    <ul class="links">
                        <li> <a th:href="@{/}" th:classappend="${activePage == 'principal'} ? 'active' : ''"> Reservar </a></li>
                        <li><a th:href="@{/listagem}" th:classappend="${activePage == 'listagem'} ? 'active' : ''" >Minhas Reservas</a></li>
                        <li><a th:href="@{/contato}" th:classappend="${activePage == 'contato'} ? 'active' : ''" >Contato</a></li>
                    </ul>
            </div>
        </header>
        <h1>Salas reservadas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Numero da Sala</th>
                    <th> Nome </th>
                    <th>Data</th>
                    <th>Horario</th>
                    <th>Duração</th>
                    <th>Ações</th>  
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.id}"></td>
                    <td th:text="${reserva.numero}"></td>
                    <td th:text="${reserva.nome}"></td>
                    <td th:text="${reserva.data}"></td>
                    <td th:text="${reserva.hora}"></td>
                    <td th:text="${reserva.duracao} + ' hora(s)'"></td>
                    <td>
                        <form th:action="@{'/atualizar/' + ${reserva.id}}" method="get">
                            <button type="submit" id="atualizar"> Atualizar </button>
                        </form>
                        <form th:action="@{'/deletar/' + ${reserva.id}}" method="post" class="btn-apagar">
                            <button type="submit" id="apagar"> Cancelar reserva </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="voltar" th:href="@{/}">Voltar</a>
        
    </body>
</html>