<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- <script th:src="@{js/projeto.js}"></script> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Página principal</title>
</head>
<body>
    <header>
        <div class="header">
            <a th:href="@{/}"><img class="logo-fatec" th:src="@{img/logo-fatec-branco.png}" alt="Logo Fatec"> </a>
                <ul class="links">
                    <li> <a th:href="@{/}" th:classappend="${activePage == 'principal'} ? 'active' : ''"> Reservar </a></li>
                    <li><a th:href="@{/listagem}">Minhas Reservas</a></li>
                    <li><a th:href="@{/contato}">Contato</a></li>
                </ul>
        </div>
    </header>

    <main>
        <h1>Reserva de Salas e Laboratórios - FATEC Rubens Lara</h1>

        <h2 class="subtitulo"> Salas e Laboratórios 3º andar </h2>

        <section class="andar3"> 
            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 3.01">
                <h3> Sala 3.01</h3>
                <p> Capacidade: 50 alunos </p>
                <p> Quantidade de máquinas: 20</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=3.01">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 3.02">
                <h3> Sala 3.02</h3>
                <p> Capacidade: 40 alunos</p>
                <p> Quantidade de máquinas: 15</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=3.02">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 3.03">
                <h3> Sala 3.03</h3>
                <p> Capacidade: 45 alunos</p>
                <p> Quantidade de máquinas: 25</p>
                <p> Possui televisão? Não </p>
                <p> Possui projetor? Sim </p>
                <a href="/reservar?numero=3.03">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 3.04">
                <h3> Sala 3.04</h3>
                <p> Capacidade: 60 alunos</p>
                <p> Quantidade de máquinas: 30</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=3.04">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 3.05">
                <h3> Sala 3.05</h3>
                <p> Capacidade: 60 alunos</p>
                <p> Quantidade de máquinas: 30</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=3.05">
                    <button class="btn">Reservar</button>
                </a>
            </div>

        </section>



        <h2> Salas e Laboratórios 5º andar </h2>

        <section class="andar5"> 
            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 501">
                <h3> Sala 501</h3>
                <p> Capacidade: 50 alunos</p>
                <p> Quantidade de máquinas: 20</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=501">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 502">
                <h3> Sala 502</h3>
                <p> Capacidade: 40 alunos</p>
                <p> Quantidade de máquinas: 15</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=502">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 503">
                <h3> Sala 503</h3>
                <p> Capacidade: 45 alunos</p>
                <p> Quantidade de máquinas: 25</p>
                <p> Possui televisão? Não </p>
                <p> Possui projetor? Sim </p>
                <a href="/reservar?numero=503">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 504">
                <h3> Sala 504</h3>
                <p> Capacidade: 60 alunos</p>
                <p> Quantidade de máquinas: 30</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=504">
                    <button class="btn">Reservar</button>
                </a>
            </div>

            <div class="div-reservar">
                <img th:src="@{img/sala5.jpeg}" alt=" Laboratório 505">
                <h3> Sala 505</h3>
                <p> Capacidade: 60 alunos</p>
                <p> Quantidade de máquinas: 30</p>
                <p> Possui televisão? Sim </p>
                <p> Possui projetor? Não </p>
                <a href="/reservar?numero=505">
                    <button class="btn">Reservar</button>
                </a>
            </div>

        </section>
    </main>

</body>
</html>